html {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgb(16, 31, 37);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}
